<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- favicon -->
	<link rel="icon" href="favicon.ico">
	<title>Emerald Dragon | Dashboard</title>
</head>
<body>
  {% import 'macros.twig' as macro_main %}
  {% import 'macro-dashboard.twig' as macro_dashboad %}
  <!-- SIDE MENU -->
  {{macro_dashboad.all_menu(dictionary,user)}}
  <!-- /SIDE MENU -->

    <!-- DASHBOARD BODY -->
    <div class="dashboard-body">
        <!-- DASHBOARD HEADER -->
        {{macro_dashboad.dashboard_header(dictionary)}}
        <!-- DASHBOARD HEADER -->

        <!-- DASHBOARD CONTENT -->
        <div class="dashboard-content">
            <!-- HEADLINE -->
            <div class="headline simple primary">
                <h4>Withdrawals</h4>
            </div>
            <!-- /HEADLINE -->

			<!-- FORM BOX ITEMS -->
			<div class="form-box-items">
				<!-- FORM BOX ITEM -->
				<div class="form-box-item">
					<h4>Withdraw Earnings</h4>
					<hr class="line-separator">
					<form id="withdraw-form">
						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label for="amount" class="rl-label required">Amount to Withdraw ({{dictionary.coin}}${{limit_withdrawl}} Maximum)</label>
							<input type="number" id="amount" name="amount" min="0" max="{{limit_withdrawl}}" step="any"
              placeholder="Enter the amount you want to withdraw...">
						</div>
						<!-- /INPUT CONTAINER -->
						<hr class="line-separator">

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label class="rl-label required">Choose your Withdrawal Method </label>
							<!-- RADIO -->
							<input type="radio" id="paypal" name="payment_method" value="pp" checked>
							<label for="paypal">
								<span class="radio primary"><span></span></span>
								Paypal
							</label>
							<!-- /RADIO -->
              {# not  implemted
							<!-- RADIO -->
							<input type="radio" id="skrill" name="payment_method" value="sk">
							<label for="skrill">
								<span class="radio primary"><span></span></span>
								Skrill
							</label>
							<!-- /RADIO -->

							<!-- RADIO -->
							<input type="radio" id="int_transf" name="payment_method" value="it">
							<label for="int_transf">
								<span class="radio primary"><span></span></span>
								International Transfer ($200 Minimum)
							</label>
							<!-- /RADIO -->
              #}
						</div>
						<!-- /INPUT CONTAINER -->

						<hr class="line-separator">

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label for="pp_ac" class="rl-label required">Your Paypal Account</label>
							<input type="text" id="pp_ac" name="pp_ac" placeholder="Enter your paypal account here...">
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label for="pwd_ac" class="rl-label required">Confirm your Password</label>
							<input type="password" id="pwd_ac" name="pwd_ac" placeholder="Confirm your password for security...">
						</div>
						<!-- /INPUT CONTAINER -->

						<hr class="line-separator">

						<button class="button big dark">Request <span class="primary">Withdrawal</span></button>
					</form>
				</div>
				<!-- /FORM BOX ITEM -->

				<!-- FORM BOX ITEM -->
				<div class="form-box-item withdraw-history">
					<h4>Withdrawal History</h4>
					<hr class="line-separator">
					<!-- TRANSACTION HISTORY -->
					<div class="transaction-history">
						{% for i in item %}
            <!-- TRANSACTION HISTORY ITEM -->
						<div class="transaction-history-item">
							<div class="transaction-history-item-date">
								<p>{{i.date}}</p>
							</div>
							<div class="transaction-history-item-mail">
								<p>{{i.id_partner}}</p>
							</div>
							<div class="transaction-history-item-amount">
								<p class="text-header">{{dictionary.coin}}${{i.value}}</p>
							</div>
							<div class="transaction-history-item-status">
								<p class="text-header">{{i.status}}</p>
							</div>
						</div>
						<!-- /TRANSACTION HISTORY ITEM -->

						{% endfor %}


					</div>
					<!-- /TRANSACTION HISTORY -->
				</div>
				<!-- /FORM BOX ITEM -->
			</div>
			<!-- /FORM BOX ITEMS -->
        </div>
        <!-- DASHBOARD CONTENT -->
    </div>
    <!-- /DASHBOARD BODY -->

	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- SVG MINUS -->
<svg style="display: none;">
	<symbol id="svg-minus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG MINUS -->

<!-- jQuery -->
<script src="../js/vendor/jquery-3.1.0.min.js"></script>
<!-- XM Pie Chart -->
<script src="../js/vendor/jquery.xmpiechart.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- Dashboard Header -->
<script src="../js/dashboard-header.js"></script>
</body>
</html>
