<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- favicon -->
	<link rel="icon" href="https://e-com.club/mass/ftp/tutoriais/favicon.png">
	<title>{{dictionary.title}} | {{dictionary.word_dashboard}}</title>
</head>
<body>
  {% import 'macros.twig' as macro_main %}
  {% import 'macro-dashboard.twig' as macro_dashboad %}
	{#% import 'macro-dashboard-uploaditem.twig' as macro_dash_up %#}
	<!-- SIDE MENU -->
	{{macro_dashboad.all_menu(dictionary,user)}}
	<!-- /SIDE MENU -->

    <!-- DASHBOARD BODY -->
    <div class="dashboard-body">
        <!-- DASHBOARD HEADER -->
        {{macro_dashboad.dashboard_header(dictionary)}}
        <!-- DASHBOARD HEADER -->

        <!-- DASHBOARD CONTENT -->
        <div class="dashboard-content">
            <!-- HEADLINE -->
            <div class="headline simple primary">
                <h4>Upload Item</h4>
            </div>
            <!-- /HEADLINE -->

			<!-- FORM BOX ITEMS -->
			<div class="form-box-items wrap-3-1 left">
				<!-- FORM BOX ITEM -->
				<div class="form-box-item full">
					<h4>Item Specifications</h4>
					<hr class="line-separator">
					<form id="upload_form">
						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label for="category" class="rl-label required">Select Category</label>
							<label for="category" class="select-block">
								<select name="category" id="category">
									<option value="0">Illustration</option>
									<option value="1">Photoshop</option>
									<option value="2">Vector</option>
								</select>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</label>
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label for="item_name" class="rl-label required">Name of the Item (Max 40 Characters)</label>
							<input type="text" id="item_name" name="item_name" placeholder="Enter them item name here...">
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label for="item_description" class="rl-label required">Item Description</label>
							<textarea id="item_description" name="item_description" placeholder="Enter them item description here..."></textarea>
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						{{macro_dash_up.up_file()}}
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label class="rl-label required">Upload Main Image</label>
							<!-- UPLOAD FILE -->
							<div class="upload-file">
								<div class="upload-file-actions">
									<a href="#" class="button dark-light">Upload File...</a>
									<p>Cartoon Illustrations.jpeg</p>
								</div>
								<div class="upload-file-progress">
									<!-- BADGE PROGRESS -->
									<div class="upload-bar">
										<div class="upload-pg2"></div>
									</div>
									<!-- /BADGE PROGRESS -->
									<p class="text-header">100%</p>
									<a href="#" class="button dark-light square">
										<img src="../images/dashboard/close-icon-small.png" alt="close-icon">
									</a>
								</div>
							</div>
							<!-- UPLOAD FILE -->
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label class="rl-label">Additional Screenshots </label>
							<!-- UPLOAD FILE -->
							<div class="upload-file">
								<div class="upload-file-actions">
									<a href="#" class="button dark-light">Upload File...</a>
									<p>Screenshot 01.jpeg</p>
								</div>
								<div class="upload-file-progress">
									<!-- BADGE PROGRESS -->
									<div class="upload-bar">
										<div class="upload-pg3"></div>
									</div>
									<!-- /BADGE PROGRESS -->
									<p class="text-header">68%</p>
									<a href="#" class="button dark-light square">
										<img src="../images/dashboard/close-icon-small.png" alt="close-icon">
									</a>
								</div>
							</div>
							<!-- UPLOAD FILE -->

							<!-- UPLOAD FILE -->
							<div class="upload-file multiupload">
								<div class="upload-file-actions">
									<a href="#" class="button dark-light">Upload File...</a>
									<p>Screenshot 02.jpeg</p>
								</div>
								<div class="upload-file-progress">
									<!-- BADGE PROGRESS -->
									<div class="upload-bar">
										<div class="upload-pg4"></div>
									</div>
									<!-- /BADGE PROGRESS -->
									<p class="text-header">73%</p>
									<a href="#" class="button dark-light square">
										<img src="../images/dashboard/close-icon-small.png" alt="close-icon">
									</a>
								</div>
							</div>
							<!-- UPLOAD FILE -->

							<!-- UPLOAD FILE -->
							<div class="upload-file multiupload">
								<div class="upload-file-actions">
									<a href="#" class="button dark-light">Upload File...</a>
									<p>Screenshot 03.jpeg</p>
								</div>
								<div class="upload-file-progress">
									<!-- BADGE PROGRESS -->
									<div class="upload-bar">
										<div class="upload-pg5"></div>
									</div>
									<!-- /BADGE PROGRESS -->
									<p class="text-header">92%</p>
									<a href="#" class="button dark-light square">
										<img src="images/dashboard/close-icon-small.png" alt="close-icon">
									</a>
								</div>
							</div>
							<!-- UPLOAD FILE -->
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container half">
							<label for="files_included" class="rl-label required">Files Included</label>
							<input type="text" id="files_included" name="files_included" placeholder="Enter them files included here...">
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container half">
							<label for="item_dimensions" class="rl-label required">Item Dimensions</label>
							<input type="text" id="item_dimensions" name="item_dimensions" placeholder="Enter them item dimensions here...">
						</div>
						<!-- /INPUT CONTAINER -->

						<div class="clearfix"></div>

						<!-- INPUT CONTAINER -->
						<div class="input-container half">
							<label for="sv" class="rl-label required">Minimum Software Version</label>
							<label for="sv" class="select-block">
								<select name="sv" id="sv">
									<option value="0">Adobe Suite CS6</option>
									<option value="1">Adobe Suite CS7</option>
								</select>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</label>
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container half">
							<label for="vr" class="rl-label required">Vector or Raster</label>
							<label for="vr" class="select-block">
								<select name="vr" id="vr">
									<option value="0">Vectorized</option>
									<option value="1">Rasterized</option>
								</select>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</label>
						</div>
						<!-- /INPUT CONTAINER -->

						<!-- INPUT CONTAINER -->
						<div class="input-container">
							<label for="item_tags" class="rl-label required">Item Tags</label>
							<input type="text" id="item_tags" name="item_tags" placeholder="Enter them item tags separated by a comma...">
						</div>
						<!-- /INPUT CONTAINER -->

						<hr class="line-separator">
						<button class="button big dark">Submit Item <span class="primary">for Review</span></button>
					</form>
				</div>
				<!-- /FORM BOX ITEM -->
			</div>
			<!-- /FORM BOX ITEMS -->

			<!-- FORM BOX ITEMS -->
			<div class="form-box-items wrap-1-3 right">
				{#not implemented
				<!-- FORM BOX ITEM -->
				<div class="form-box-item full">
					<h4>Upload Queue</h4>
					<hr class="line-separator">
					<!-- PG BAR LIST -->
					<div class="pg-bar-list">
						<!-- PG BAR LIST ITEM -->
						<div class="pg-bar-list-item">
							<div class="pg-bar-list-item-info">
								<p class="text-header">Professional Business Card</p>
								<p class="text-header">86%</p>
								<p class="timestamp">4 days ago</p>
							</div>
							<!-- BADGE PROGRESS -->
							<div class="pg1"></div>
							<!-- /BADGE PROGRESS -->
						</div>
						<!-- /PG BAR LIST ITEM -->

						<!-- PG BAR LIST ITEM -->
						<div class="pg-bar-list-item">
							<div class="pg-bar-list-item-info">
								<p class="text-header">Professional Business Card</p>
								<p class="text-header">92%</p>
								<p class="timestamp">12 days ago</p>
							</div>
							<!-- BADGE PROGRESS -->
							<div class="pg2"></div>
							<!-- /BADGE PROGRESS -->
						</div>
						<!-- /PG BAR LIST ITEM -->
					</div>
					<!-- /PG BAR LIST -->
				</div>
				<!-- /FORM BOX ITEM -->
				#}

				{#not implemented
				<!-- FORM BOX ITEM -->
				<div class="form-box-item full">
					<h4>Upload Guidelines</h4>
					<hr class="line-separator">
					<!-- PLAIN TEXT BOX -->
					<div class="plain-text-box">
						<!-- PLAIN TEXT BOX ITEM -->
						<div class="plain-text-box-item">
							<p class="text-header">File Upload:</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
						<!-- /PLAIN TEXT BOX ITEM -->

						<!-- PLAIN TEXT BOX ITEM -->
						<div class="plain-text-box-item">
							<p class="text-header">Photos and Images:</p>
							<p>Lorem ipsum dolor sit amet.<br>Consectetur adipisicing elit, sed do.</p>
							<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<!-- /PLAIN TEXT BOX ITEM -->

						<!-- PLAIN TEXT BOX ITEM -->
						<div class="plain-text-box-item">
							<p class="text-header">Guide with Links:</p>
							<p><a href="#" class="primary">Click here for the link.</a></p>
						</div>
						<!-- /PLAIN TEXT BOX ITEM -->
					</div>
					<!-- /PLAIN TEXT BOX -->
				</div>
				<!-- /FORM BOX ITEM -->
				#}
			</div>
			<!-- /FORM BOX ITEMS -->

			<div class="clearfix"></div>
        </div>
        <!-- DASHBOARD CONTENT -->
    </div>
    <!-- /DASHBOARD BODY -->

	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- SVG MINUS -->
<svg style="display: none;">
	<symbol id="svg-minus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG MINUS -->

<!-- jQuery -->
<script src="../js/vendor/jquery-3.1.0.min.js"></script>
<!-- XM Pie Chart -->
<script src="../js/vendor/jquery.xmpiechart.min.js"></script>
<!-- XM LineFill -->
<script src="../js/vendor/jquery.xmlinefill.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- Dashboard Header -->
<script src="../js/dashboard-header.js"></script>
<!-- Dashboard UploadItem -->
<script src="../js/dashboard-uploaditem.js"></script>
{{macro_main.scripts()}}
</body>
</html>
