<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- favicon -->
	<link rel="icon" href="favicon.ico">
	<title>{{dictionary.title}} | {{dictionary.word_dashboard}}</title>
</head>
{% if login == true %}
<body>
	{% import 'macros.twig' as macro_main %}
  {% import 'macro-dashboard.twig' as macro_dashboad %}
	<!-- SIDE MENU -->
	{{macro_dashboad.all_menu(dictionary,user)}}
	<!-- /SIDE MENU -->

    <!-- DASHBOARD BODY -->
    <div class="dashboard-body">
        <!-- DASHBOARD HEADER -->
				{{macro_dashboad.dashboard_header(dictionary)}}
        <!-- DASHBOARD HEADER -->

        <!-- DASHBOARD CONTENT -->
        <div class="dashboard-content">
            <!-- HEADLINE -->
            <div class="headline buttons primary">
                <h4>{{dictionary.word_account_settings}}</h4>
				<button form="profile-info-form" class="button mid-short primary">{{dictionary.word_save}}</button>
            </div>
            <!-- /HEADLINE -->

			<!-- FORM BOX ITEMS -->
			<div class="form-box-items">
				<!-- FORM BOX ITEM -->
				{{macro_dashboad.form_profile_info(dictionary,user)}}
				<!-- /FORM BOX ITEM -->

				<!-- FORM BOX ITEM -->
				{# In moment not implemented
				{{macro_dashboad.form_social_info(dictionary)}}
				#}
				<!-- /FORM BOX ITEM -->

				<!-- FORM BOX ITEM -->
				{# not used {macro_dashboad.form_billing_info(dictionary)}#}
				<!-- /FORM BOX ITEM -->

				<!-- FORM BOX ITEM -->
				{#not used {macro_dashboad.form_shipping_info()}#}
				<!-- /FORM BOX ITEM -->
			</div>
			<!-- /FORM BOX -->
        </div>
        <!-- DASHBOARD CONTENT -->
    </div>
    <!-- /DASHBOARD BODY -->

	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- SVG MINUS -->
<svg style="display: none;">
	<symbol id="svg-minus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG MINUS -->

<!-- jQuery -->
<script src="../js/vendor/jquery-3.1.0.min.js"></script>
<!-- XM Pie Chart -->
<script src="../js/vendor/jquery.xmpiechart.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- Dashboard Header -->
<script src="../js/dashboard-header.js"></script>
{{macro_main.scripts()}}
</body>
{% else %}
<body>
  <h1><span> ERROR LOGIN </span></h1>
  <a class="button primary" href="index"> HOME </a>
</body>
{% endif %}
</html>
