<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/vendor/tooltipster.css">
	<link rel="stylesheet" href="../css/vendor/owl.carousel.css">
	<link rel="stylesheet" href="../css/style.css">

	<link rel="stylesheet" href="../css/vendor/magnific-popup.css">
	<!-- favicon -->
	<link rel="icon" href="https://e-com.club/mass/ftp/tutoriais/favicon.png">
	<title>{{ dictionary.title }} | Home</title>

</head>
<body>
{% import 'macros.twig' as macro_main %}
<!-- header -->
	{{macro_main.all_header(login,dictionary,user,app_category,theme_category)}}
<!-- /header -->
	<!-- BANNER -->
	<div class="banner-wrap">
		<section class="banner">
			<h5>{{ dictionary.welcome }}</h5>
			<h1> {{ dictionary.e_com }}<span>{{ dictionary.addons }}</span></h1>
			<p>{{ dictionary.subtitle }}</p>
			<img src="../images/top_items.png" alt="banner-img">

			<!-- SEARCH WIDGET -->
			<div class="search-widget">
				<form class="search-widget-form">
					<input type="text" name="category_name" placeholder="{{ dictionary.word_search_apps_themes }}">
					<label for="categories" class="select-block">
						<select name="categories" id="categories">
							<!--
							<option value="0">All Categories</option>
							<option value="1">PSD Templates</option>
							<option value="2">Hero Images</option>
							<option value="3">Shopify</option>
							<option value="4">Icon Packs</option>
							<option value="5">Graphics</option>
							<option value="6">Flyers</option>
							<option value="7">Backgrounds</option>
							<option value="8">Social Covers</option>
							-->
							{% for feature in search %}
							<option value = "{{feature.id}}">{{ feature.name }}</option>
							{% endfor %}
						</select>
						<!-- SVG ARROW -->
						<svg class="svg-arrow">
							<use xlink:href="#svg-arrow"></use>
						</svg>
						<!-- /SVG ARROW -->
					</label>
					<button class="button medium dark"> {{ dictionary.word_search }} !</button>
				</form>
			</div>
			<!-- /SEARCH WIDGET -->
		</section>
	</div>
	<!-- /BANNER -->

	<!-- SERVICES -->
	<div id="services-wrap">
		<section id="services">
			<!-- SERVICE LIST -->
			<div class="service-list column4-wrap">
				<!-- SERVICE ITEM -->
				<div class="service-item column">
					<div class="circle medium gradient"></div>
					<div class="circle white-cover"></div>
					<div class="circle dark">
						<span class="icon-present"></span>
					</div>
					<h3>{{ dictionary.word_buy_apps }}</h3>
					<p>{{ dictionary.description_buy_apps}}.</p>
				</div>
				<!-- /SERVICE ITEM -->

				<!-- SERVICE ITEM -->
				<div class="service-item column">
					<div class="circle medium gradient"></div>
					<div class="circle white-cover"></div>
					<div class="circle dark">
						<span class="icon-lock"></span>
					</div>
					<h3>{{ dictionary.word_secure_transation }}</h3>
					<p>{{ dictionary.description_secure_transation }}.</p>
				</div>
				<!-- /SERVICE ITEM -->

				<!-- SERVICE ITEM -->
				<div class="service-item column">
					<div class="circle medium gradient"></div>
					<div class="circle white-cover"></div>
					<div class="circle dark">
						<span class="icon-like"></span>
					</div>
					<h3>{{ dictionary.word_community}}</h3>
					<p>{{ dictionary.description_community }}.</p>
				</div>
				<!-- /SERVICE ITEM -->

				<!-- SERVICE ITEM -->
				<div class="service-item column">
					<div class="circle medium gradient"></div>
					<div class="circle white-cover"></div>
					<div class="circle dark">
						<span class="icon-diamond"></span>
					</div>
					<h3>{{ dictionary.word_mkp_quality }}</h3>
					<p>{{ dictionary.description_mkp_quality }}</p>
				</div>
				<!-- /SERVICE ITEM -->
			</div>
			<!-- /SERVICE LIST -->
			<div class="clearfix"></div>
		</section>
	</div>
	<!-- /SERVICES -->

	{% if login == false %}
	<!-- PROMO -->
	<div class="promo-banner dark left">
		<span class="icon-wallet"></span>
		<h5>{{ dictionary.desc_promo_partners }} {{ dictionary.title }}!</h5>
		<h1>{{ dictionary.word_start }} <span>{{ dictionary.word_now }}</span></h1>
		<a href="register-page" class="button medium primary">{{ dictionary.word_register }}!</a>
	</div>
	<!-- /PROMO -->

	<!-- PROMO -->
	<div class="promo-banner secondary right">
		<span class="icon-tag"></span>
		<h5>{{ dictionary.desc_promo_store }}</h5>
		<h1>{{dictionary.word_start}} {{ dictionary.word_buying }}</h1>
		<a href="#" class="button medium dark">{{ dictionary.buy_now }}</a>
	</div>
	<!-- /PROMO -->
	{% endif %}
	<div class="clearfix"></div>

	<!-- PRODUCT SIDESHOW -->
	<div id="product-sideshow-wrap">
		<div id="product-sideshow">
			<!-- PRODUCT SHOWCASE -->
			<div class="product-showcase">
				<!-- HEADLINE -->
				<div class="headline primary">
					<h4>{{ dictionary.apps_trends }}</h4>
					<!-- SLIDE CONTROLS -->
					<div class="slide-control-wrap">
						<div class="slide-control left">
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</div>

						<div class="slide-control right">
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</div>
					</div>
					<!-- /SLIDE CONTROLS -->
				</div>
				<!-- /HEADLINE -->

				<!-- PRODUCT LIST -->
				<div id="pl-1" class="product-list grid column4-wrap owl-carousel">
					<!-- PRODUCT ITEM -->
					<!-- /PRODUCT ITEM -->
					{{macro_main.apps_themes(apps,0,8,dictionary)}}
				</div>
				<!-- /PRODUCT LIST -->
				<!-- PRODUCT LIST -->
				<div id="pl-2" class="product-list grid column4-wrap owl-carousel">
					{{macro_main.apps_themes(apps,8,16,dictionary)}}
				</div>
				<!-- /PRODUCT LIST -->
				<!-- PRODUCT LIST -->
				<div id="pl-3" class="product-list grid column4-wrap owl-carousel">
					{{macro_main.apps_themes(apps,16,24,dictionary)}}
				</div>
				<!-- /PRODUCT LIST -->
			</div>
			<!-- /PRODUCT SHOWCASE -->

			<!-- PRODUCT SHOWCASE -->
			<div class="product-showcase">
				<!-- HEADLINE -->
				<div class="headline secondary">
					<h4>{{ dictionary.themes_trends }}</h4>
					<!-- SLIDE CONTROLS -->
					<div class="slide-control-wrap">
						<div class="slide-control left">
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</div>

						<div class="slide-control right">
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</div>
					</div>
					<!-- /SLIDE CONTROLS -->
				</div>
				<!-- /HEADLINE -->

				<!-- PRODUCT LIST -->
				<div id="pl-4" class="product-list grid column4-wrap owl-carousel">
					{{macro_main.apps_themes(themes,0,12,dictionary)}}
				</div>
				<!-- /PRODUCT LIST -->
			</div>
			<!-- /PRODUCT SHOWCASE -->


		</div>
	</div>
	<!-- /PRODUCTS SIDESHOW -->

{% if implemented == true %}
	<!-- SUBSCRIBE BANNER -->
	<div id="subscribe-banner-wrap">
		<div id="subscribe-banner">
			<!-- SUBSCRIBE CONTENT -->
			<div class="subscribe-content">
				<!-- SUBSCRIBE HEADER -->
				<div class="subscribe-header">
					<figure>
						<img src="../images/news_icon.png" alt="subscribe-icon">
					</figure>
					<p class="subscribe-title">Subscribe to our Newsletter</p>
					<p>And receive the latest news and offers</p>
				</div>
				<!-- /SUBSCRIBE HEADER -->

				<!-- SUBSCRIBE FORM -->
				<form class="subscribe-form">
					<input type="text" name="subscribe_email" id="subscribe_email" placeholder="Enter your email here...">
					<button class="button medium dark">Subscribe!</button>
				</form>
				<!-- /SUBSCRIBE FORM -->
			</div>
			<!-- /SUBSCRIBE CONTENT -->
		</div>
	</div>
	<!-- /SUBSCRIBE BANNER -->
{% endif %}

<!-- footer -->
{{macro_main.footer(dictionary,info_footer)}}
<!-- /footer -->


	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG STAR -->
<svg style="display: none;">
	<symbol id="svg-star" viewBox="0 0 10 10" preserveAspectRatio="xMinYMin meet">
		<polygon points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751
	2.495,6.313 -0.002,3.878 3.45,3.376 "/>
	</symbol>
</svg>
<!-- /SVG STAR -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- jQuery -->
<script src="../../js/vendor/jquery-3.1.0.min.js"></script>
<!-- Tooltipster -->
<script src="../../js/vendor/jquery.tooltipster.min.js"></script>
<!-- Owl Carousel -->
<script src="../js/vendor/owl.carousel.min.js"></script>
<!-- Tweet -->
<script src="../js/vendor/twitter/jquery.tweet.min.js"></script>
<!-- xmAlerts -->
<script src="../js/vendor/jquery.xmalert.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- Home -->
<script src="../js/home.js"></script>
<!-- Tooltip -->
<script src="../js/tooltip.js"></script>
<!-- User Quickview Dropdown -->
<script src="../js/user-board.js"></script>
<!-- Home Alerts -->
<!-- <script src="../js/home-alerts.js"></script> -->
<!-- Footer -->
<script src="../js/footer.js"></script>

{{macro_main.scripts()}}

</body>
</html>
