{% macro up_file() %}
  <div class="input-container">
    <label class="rl-label required">Upload Main File</label>
    <!-- UPLOAD FILE -->
    <div class="upload-file">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Pack of Cartoon Illustrations.zip</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg1"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">46%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->
  </div>
{% endmacro %}

{% macro up_image() %}
  <div class="input-container">
    <label class="rl-label required">Upload Main Image</label>
    <!-- UPLOAD FILE -->
    <div class="upload-file">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Cartoon Illustrations.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg2"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">100%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->
  </div>
{% endmacro %}

{% macro up_screenshots() %}
  <div class="input-container">
    <label class="rl-label">Additional Screenshots </label>
    <!-- UPLOAD FILE -->
    <div class="upload-file">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Screenshot 01.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg3"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">68%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->

    <!-- UPLOAD FILE -->
    <div class="upload-file multiupload">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Screenshot 02.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg4"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">73%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->

    <!-- UPLOAD FILE -->
    <div class="upload-file multiupload">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Screenshot 03.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg5"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">92%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->
  </div>
{% endmacro %}

{% macro select_category(all_category,id,num) %}
  <div class="input-container">
    <label id="cat-required" for="category" class="rl-label required">Select Category</label>
    <label for="category" class="select-block">
      {# not implemented
      <select name="category" id="category">
        <option value="0">Illustration</option>
        <option value="1">Photoshop</option>
        <option value="2">Vector</option>
      </select>
      #}
      <select name="category" id="category-{{id}}-{{num}}">
        {% for cate in all_category %}
          {% if loop.index0 > 0 %}
            <option value="{{cate.id}}">{{cate.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <!-- SVG ARROW -->
      <svg class="svg-arrow">
        <use xlink:href="#svg-arrow"></use>
      </svg>
      <!-- /SVG ARROW -->
    </label>
  </div>
{% endmacro %}

{% macro  plans(total_plans_app,dictionary) %}
  <hr class="line-separator">
  <div class="input-container">
    <h4> Plans </h4>
  </div>
  <hr class="line-separator">

  {% for i in 1.. total_plans_app %}
  {% if loop.index == 1 %}
  <div id="plan-{{i}}" style="display:block;" >
  {% else %}
  <div id="plan-{{i}}" style="display:none;" >
  {% endif %}

      <div class="input-container">
      </div>
      <div class="input-container">
        <h6> Plan {{i}} </h6>
      </div>
      <hr class="line-separator">
    <!-- /INPUT CONTAINER -->
    <div class="input-container">
      <label for="name_plan" class="rl-label">Name Plan</label>
      <input type="text" id="name_plan-{{i}}" name="name_plan" placeholder="Ex: Plan Basic">
    </div>
    <!-- /INPUT CONTAINER -->

    <!-- /INPUT CONTAINER -->
    <div class="input-container">
      <label for="item_value" class="rl-label">Value: {{dictionary.coin}}$</label>
      <input type="text" id="item_value-{{i}}" name="item_value" placeholder="Ex: 10.00">
    </div>
    <!-- /INPUT CONTAINER -->

    <!-- /INPUT CONTAINER -->
    <div class="input-container">
      <label for="desc_plan" class="rl-label">Description Plan</label>
      <input type="text" id="desc_plan-{{i}}" name="desc_plan" placeholder="Ex: Is a plan">
    </div>
    <!-- /INPUT CONTAINER -->
  </div>

  {% endfor %}

  <!-- INPUT CONTAINER -->
  <div class="input-container half">
    <button class="button mid dark" id="add-plan"> Add Plan </button>
  </div>
  <!-- /INPUT CONTAINER -->
{% endmacro %}

{% macro faqs(total_faqs,dictionary ) %}
  <hr class="line-separator">
  <div class="input-container">
    <h4> FAQ's </h4>
  </div>
  <hr class="line-separator">

{% for i in 1.. total_faqs %}

<div id="faq-{{i}}" style="display:none;" >
  <div class="input-container">
  </div>
  <div class="input-container">
    <h6> FAQ {{i}} </h6>
  </div>
  <hr class="line-separator">
  <!-- /INPUT CONTAINER -->
  <div class="input-container">
    <label for="desc_plan" class="rl-label">Question</label>
    <input type="text" id="question-{{i}}" name="question" placeholder="Ex: ">
  </div>
  <!-- /INPUT CONTAINER -->
  <!-- /INPUT CONTAINER -->
  <div class="input-container">
    <label for="desc_plan" class="rl-label">Answer</label>
    <input type="text" id="answer-{{i}}" name="answer" placeholder="Ex: ">
  </div>
  <!-- /INPUT CONTAINER -->
</div>


{% endfor %}
<!-- INPUT CONTAINER -->
<div class="input-container half">
  <button class="button mid dark" id="add-faq"> Add FAQ </button>
</div>
<!-- /INPUT CONTAINER -->

<!-- INPUT CONTAINER -->
<div class="input-container half">
  <button class="button mid dark" id="rm-faq"> Remove FAQ </button>
</div>
<!-- /INPUT CONTAINER -->


{% endmacro %}
