<!-- These macros can be used on other page -->
<!-- macro to draw active star -->
{% macro star_on(n)%}
  {% for i in 0..n-1 if n > 0 %}
  <li class="rating-item">
    <!-- SVG STAR -->
    <svg class="svg-star">
      <use xlink:href="#svg-star"></use>
    </svg>
    <!-- /SVG STAR -->
  </li>
  {% endfor %}
{% endmacro %}
<!-- macro to draw star not active -->
{% macro star_off(n)%}
  {% for i in 0..n-1 if n > 0  %}
  <li class="rating-item empty">
    <!-- SVG STAR -->
    <svg class="svg-star">
      <use xlink:href="#svg-star"></use>
    </svg>
    <!-- /SVG STAR -->
  </li>
  {% endfor %}
{% endmacro %}
<!-- use macro to print application or theme information -->
{% macro apps_themes(apps, init, end, dictionary)%}
  {% for app in apps %}
    {% if loop.index0 >= init and loop.index0 < end %}
  					<div class="product-item column">
  						<!-- PRODUCT PREVIEW ACTIONS -->
  						<div class="product-preview-actions">
  							<!-- PRODUCT PREVIEW IMAGE -->
  							<figure class="product-preview-image">
  								<img src="{{app.image}}" alt="product-image">
  							</figure>
  							<!-- /PRODUCT PREVIEW IMAGE -->

  							<!-- PREVIEW ACTIONS -->
  							<div class="preview-actions">
  								<!-- PREVIEW ACTION -->
  								<div class="preview-action">
  									<a href="item-v1.html">
  										<div class="circle tiny primary">
  											<span class="icon-tag"></span>
  										</div>
  									</a>
  									<a href="item-v1.html">
  										<p>{{ dictionary.word_go_item }}</p>
  									</a>
  								</div>
  								<!-- /PREVIEW ACTION -->

  								<!-- PREVIEW ACTION -->
  								<div class="preview-action">
  									<a href="#">
  										<div class="circle tiny secondary">
  											<span class="icon-heart"></span>
  										</div>
  									</a>
  									<a href="#">
  										<p>{{ dictionary.word_favorate }}</p>
  									</a>
  								</div>
  								<!-- /PREVIEW ACTION -->
  							</div>
  							<!-- /PREVIEW ACTIONS -->
  						</div>
  						<!-- /PRODUCT PREVIEW ACTIONS -->

  						<!-- PRODUCT INFO -->
  						<div class="product-info">
  							<a href="item-v1.html">
  								<p class="text-header"> {{ app.name }} </p>
  							</a>
  							<p class="product-description">{{ app.description }}</p>
  							<a href="shop-gridview-v1.html">
  								<p class="category primary">{{ app.category }}</p>
  							</a>
  							<p class="price"><span>R$</span>{{ app.value | number_format(2, '.', ',') }}</p>
  						</div>
  						<!-- /PRODUCT INFO -->
  						<hr class="line-separator">

  						<!-- USER RATING -->
  						<div class="user-rating">
  							<a href="author-profile.html">
  								<figure class="user-avatar small">
  									<img src="../images/avatars/avatar_01.jpg" alt="user-avatar">
  								</figure>
  							</a>
  							<a href="author-profile.html">
  								<p class="text-header tiny">{{ app.name_partner }}</p>
  							</a>
  							<ul class="rating tooltip" title="{{ dictionary.word_reputation }}">
  								{% import 'macros.twig' as silexCasts %}
                  <!-- use macros to render stars -->
  								{{silexCasts.star_on(app.star_on)}}
  								{{silexCasts.star_off(app.star_off)}}
  							</ul>
  						</div>
  						<!-- /USER RATING -->
  					</div>
    {% endif %}
  {% endfor %}
{% endmacro %}
<!-- macro for mounting footer -->
{% macro footer(dictionary, total_apps_and_themes, count_stores, count_partners) %}
  <!-- FOOTER -->
  <footer>
    <!-- FOOTER TOP -->
    <div id="footer-top-wrap">
      <div id="footer-top">
        <!-- COMPANY INFO -->
        <div class="company-info">
          <figure class="logo small">
            <img src="../images/logo_small.png" alt="logo-small">
          </figure>
          <p> {{ dictionary.e_com }} {{ dictionary.addons }} {{ dictionary.description_mkp }}.</p>
          <ul class="company-info-list">
            <li class="company-info-item">
              <span class="icon-present"></span>
              <p><span>{{ total_apps_and_themes }} &nbsp; </span> {{  dictionary.word_app }} {{ dictionary.word_and }} {{dictionary.word_theme}}</p>
            </li>
            <li class="company-info-item">
              <span class="icon-energy"></span>
              <p><span>{{ count_stores }} &nbsp; </span> {{ dictionary.word_stores }}</p>
            </li>
            <li class="company-info-item">
              <span class="icon-user"></span>
              <p><span>{{ count_partners }} &nbsp; </span> {{ dictionary.word_partner }}</p>
            </li>
          </ul>
          <!-- SOCIAL LINKS -->
          <ul class="social-links">
            <li class="social-link fb">
              <a href="https://www.facebook.com/ecom.clubpage/"></a>
            </li>
            <li class="social-link twt">
              <a href="#"></a>
            </li>
            <li class="social-link db">
              <a href="#"></a>
            </li>
            <li class="social-link rss">
              <a href="#"></a>
            </li>
          </ul>
          <!-- /SOCIAL LINKS -->
        </div>
        <!-- /COMPANY INFO -->

        <!-- LINK INFO -->
        <div class="link-info">
          <p class="footer-title">Our Community</p>
          <!-- LINK LIST -->
          <ul class="link-list">
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">How to Join us</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Buying and Selling</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="forum.html">Emerald Forum</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="blog-v1.html">Emerald Blog</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Free Goods</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Job Oportunities</a>
            </li>
          </ul>
          <!-- /LINK LIST -->
        </div>
        <!-- /LINK INFO -->

        <!-- LINK INFO -->
        <div class="link-info">
          <p class="footer-title">Member Links</p>
          <!-- LINK LIST -->
          <ul class="link-list">
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Partner Program</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Starting a Shop</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Purchase Credits</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Withdrawals</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">World Meetings</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">How to Auction</a>
            </li>
          </ul>
          <!-- /LINK LIST -->
        </div>
        <!-- /LINK INFO -->

        <!-- LINK INFO -->
        <div class="link-info">
          <p class="footer-title">Help and FAQs</p>
          <!-- LINK LIST -->
          <ul class="link-list">
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Help Center</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">FAQs</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Terms and Conditions</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Products Licenses</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="#">Security Information</a>
            </li>
          </ul>
          <!-- /LINK LIST -->
        </div>
        <!-- /LINK INFO -->

        <!-- language -->
        <div class="link-info">
          <p class="footer-title">{{ dictionary.word_language }}</p>
          <!-- language LIST -->
          <ul class="link-list">
            <li class="link-item">
              <div class="bullet"></div>
              <a href="/">English (USA)</a>
            </li>
            <li class="link-item">
              <div class="bullet"></div>
              <a href="/pt_br/">Português (Brasil)</a>
            </li>
          </ul>
          <!-- /language LIST -->
        </div>
        <!-- /language INFO -->

        <!-- TWITTER FEED -->
        <div class="twitter-feed">
          <p class="footer-title">Twitter Feed</p>
          <!-- TWEETS -->
          <ul class="tweets"></ul>
          <!-- /TWEETS -->
        </div>
        <!-- /TWITTER FEED -->
      </div>

    </div>
    </div>
    <!-- /FOOTER TOP -->

    <!-- FOOTER BOTTOM -->
    <div id="footer-bottom-wrap">
      <div id="footer-bottom">
        <p>2018 <span>&copy;</span><a href="index">{{ dictionary.e_com }}</a> </p>
      </div>
    </div>
    <!-- /FOOTER BOTTOM -->
  </footer>
  <!-- /FOOTER -->
{% endmacro %}
<!-- macro to mount the main header -->
{% macro header(login,dictionary) %}
  {% if login == true %}
        <!-- USER BOARD -->
        <div class="user-board">
          <!-- USER QUICKVIEW -->
          <div class="user-quickview">
            <!-- USER AVATAR -->
            <a href="author-profile.html">
            <div class="outer-ring">
              <div class="inner-ring"></div>
              <figure class="user-avatar">
                <img src="../images/avatars/avatar_01.jpg" alt="avatar">
              </figure>
            </div>
            </a>
            <!-- /USER AVATAR -->

            <!-- USER INFORMATION -->
            <p class="user-name">Johnny Fisher</p>
            <!-- SVG ARROW -->
            <svg class="svg-arrow">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /SVG ARROW -->
            <p class="user-money">$745.00</p>
            <!-- /USER INFORMATION -->

            <!-- DROPDOWN -->
            <ul class="dropdown small hover-effect closed">
              <li class="dropdown-item">
                <div class="dropdown-triangle"></div>
                <a href="author-profile.html">Profile Page</a>
              </li>
              <li class="dropdown-item">
                <a href="dashboard-settings.html">Account Settings</a>
              </li>
              <li class="dropdown-item">
                <a href="dashboard-purchases.html">Your Purchases</a>
              </li>
              <li class="dropdown-item">
                <a href="dashboard-statement.html">Sales Statement</a>
              </li>
              <li class="dropdown-item">
                <a href="dashboard-buycredits.html">Buy Credits</a>
              </li>
              <li class="dropdown-item">
                <a href="dashboard-withdrawals.html">Withdrawals</a>
              </li>
              <li class="dropdown-item">
                <a href="dashboard-uploaditem.html">Upload Item</a>
              </li>
              <li class="dropdown-item">
                <a href="dashboard-manageitems.html">Manage Items</a>
              </li>
            </ul>
            <!-- /DROPDOWN -->
          </div>
          <!-- /USER QUICKVIEW -->

          <!-- ACCOUNT INFORMATION -->
          <div class="account-information">
            <a href="favourites.html">
              <div class="account-wishlist-quickview">
                <span class="icon-heart"></span>
              </div>
            </a>
            <div class="account-cart-quickview">
              <span class="icon-present">
                <!-- SVG ARROW -->
                <svg class="svg-arrow">
                  <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
              </span>

              <!-- PIN -->
              <span class="pin soft-edged secondary">7</span>
              <!-- /PIN -->

              <!-- DROPDOWN CART -->
              <ul class="dropdown cart closed">
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="item-v1.html" class="link-to"></a>
                  <!-- SVG PLUS -->
                  <svg class="svg-plus">
                    <use xlink:href="#svg-plus"></use>
                  </svg>
                  <!-- /SVG PLUS -->
                  <div class="dropdown-triangle"></div>
                  <figure class="product-preview-image tiny">
                    <img src="../images/items/pixel_s.jpg" alt="">
                  </figure>
                  <p class="text-header tiny">Pixel Diamond Gaming Shop</p>
                  <p class="category tiny primary">Shopify</p>
                  <p class="price tiny"><span>$</span>86</p>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="item-v1.html" class="link-to"></a>
                  <!-- SVG PLUS -->
                  <svg class="svg-plus">
                    <use xlink:href="#svg-plus"></use>
                  </svg>
                  <!-- /SVG PLUS -->
                  <figure class="product-preview-image tiny">
                    <img src="../images/items/monsters_s.jpg" alt="">
                  </figure>
                  <p class="text-header tiny">Little Monsters - 40 Pack Button Badge Maker</p>
                  <p class="category tiny primary">Graphics</p>
                  <p class="price tiny"><span>$</span>10</p>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="item-v1.html" class="link-to"></a>
                  <!-- SVG PLUS -->
                  <svg class="svg-plus">
                    <use xlink:href="#svg-plus"></use>
                  </svg>
                  <!-- /SVG PLUS -->
                  <figure class="product-preview-image tiny">
                    <img src="../images/items/flat_s.jpg" alt="">
                  </figure>
                  <p class="text-header tiny">Flatland - Hero Image Composer</p>
                  <p class="category tiny primary">Shopify</p>
                  <p class="price tiny"><span>$</span>12</p>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <p class="text-header tiny">Total</p>
                  <p class="price"><span>$</span>108.00</p>
                  <a href="cart.html" class="button primary half">Go to Cart</a>
                  <a href="checkout.html" class="button secondary half">Go to Checkout</a>
                </li>
                <!-- /DROPDOWN ITEM -->
              </ul>
              <!-- /DROPDOWN CART -->
            </div>
            <div class="account-email-quickview">
              <span class="icon-envelope">
                <!-- SVG ARROW -->
                <svg class="svg-arrow">
                  <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
              </span>

              <!-- PIN -->
              <span class="pin soft-edged secondary">!</span>
              <!-- /PIN -->

              <!-- DROPDOWN NOTIFICATIONS -->
              <ul class="dropdown notifications closed">
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <div class="dropdown-triangle"></div>
                  <a href="dashboard-openmessage.html" class="link-to"></a>
                  <figure class="user-avatar">
                    <img src="../images/avatars/avatar_06.jpg" alt="">
                  </figure>
                  <p class="text-header tiny"><span>Sarah-Imaginarium</span></p>
                  <p class="subject">Product Question</p>
                  <p class="timestamp">May 18th, 2014</p>
                  <span class="notification-type secondary-new icon-envelope"></span>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="dashboard-openmessage.html" class="link-to"></a>
                  <figure class="user-avatar">
                    <img src="../images/avatars/avatar_04.jpg" alt="">
                  </figure>
                  <p class="text-header tiny"><span>Red Thunder Graphics</span></p>
                  <p class="subject">Support Inquiry</p>
                  <p class="timestamp">May 5th, 2014</p>
                  <span class="notification-type icon-envelope-open"></span>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="dashboard-openmessage.html" class="link-to"></a>
                  <figure class="user-avatar">
                    <img src="../images/avatars/avatar_07.jpg" alt="">
                  </figure>
                  <p class="text-header tiny"><span>Twisted Themes</span></p>
                  <p class="subject">Collaboration</p>
                  <p class="timestamp">Feb 24th, 2014</p>
                  <span class="notification-type secondary-new icon-envelope"></span>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="dashboard-openmessage.html" class="link-to"></a>
                  <figure class="user-avatar">
                    <img src="../images/avatars/avatar_08.jpg" alt="">
                  </figure>
                  <p class="text-header tiny"><span>GregSpiegel1820</span></p>
                  <p class="subject">How to Install the Theme...</p>
                  <p class="timestamp">Jan 3rd, 2014</p>
                  <span class="notification-type icon-action-undo"></span>
                  <a href="dashboard-inbox.html" class="button secondary">View all Messages</a>
                </li>
                <!-- /DROPDOWN ITEM -->
              </ul>
              <!-- /DROPDOWN NOTIFICATIONS -->
            </div>
            <div class="account-settings-quickview">
              <span class="icon-settings">
                <!-- SVG ARROW -->
                <svg class="svg-arrow">
                  <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
              </span>

              <!-- PIN -->
              <span class="pin soft-edged primary">49</span>
              <!-- /PIN -->

              <!-- DROPDOWN NOTIFICATIONS -->
              <ul class="dropdown notifications no-hover closed">
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <div class="dropdown-triangle"></div>
                  <a href="author-profile.html">
                    <figure class="user-avatar">
                      <img src="../images/avatars/avatar_02.jpg" alt="">
                    </figure>
                  </a>
                  <p class="title">
                    <a href="author-profile.html"><span>MeganV.</span></a> added
                    <a href="item-v1.html"><span>Pixel Diamond Gaming Shop</span></a> to favourites
                  </p>
                  <p class="timestamp">2 Hours ago</p>
                  <span class="notification-type primary-new icon-heart"></span>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="author-profile.html">
                    <figure class="user-avatar">
                      <img src="../images/avatars/avatar_03.jpg" alt="">
                    </figure>
                  </a>
                  <p class="title">
                    <a href="author-profile.html"><span>Thomas_Ket</span></a> wrote you an
                    <a href="author-reputation.html"><span>Author’s Reputation</span></a>
                  </p>
                  <p class="timestamp">17 Hours ago</p>
                  <span class="notification-type icon-star"></span>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="author-profile.html">
                    <figure class="user-avatar">
                      <img src="../images/avatars/avatar_04.jpg" alt="">
                    </figure>
                  </a>
                  <p class="title">
                    <a href="author-profile.html"><span>Red Thunder Graphics</span></a> commented on
                    <a href="item-v1.html"><span>3D Layers - Web Mockup</span></a>
                  </p>
                  <p class="timestamp">8 Days Ago</p>
                  <span class="notification-type primary-new icon-bubble"></span>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                  <a href="author-profile.html">
                    <figure class="user-avatar">
                      <img src="../images/avatars/avatar_05.jpg" alt="">
                    </figure>
                  </a>
                  <p class="title">
                    <a href="author-profile.html"><span>DaBebop</span></a> purchased
                    <a href="item-v1.html"><span>Miniverse - Hero Image Composer</span></a>
                  </p>
                  <p class="timestamp">1 Week ago</p>
                  <span class="notification-type icon-tag"></span>
                  <a href="dashboard-notifications.html" class="button primary">View all Notifications</a>
                </li>
                <!-- /DROPDOWN ITEM -->
              </ul>
              <!-- /DROPDOWN NOTIFICATIONS -->
            </div>
          </div>
          <!-- /ACCOUNT INFORMATION -->

          <!-- ACCOUNT ACTIONS -->
          <div class="account-actions">
            <a href="#" class="button primary">Become a Seller</a>
            <a href="#" class="button secondary">Logout</a>
          </div>
          <!-- /ACCOUNT ACTIONS -->
        </div>
        <!-- /USER BOARD -->
  {% else %}
        <div class="user-board">

          <div class="account-actions no-space">
            <!-- not implemented
            <a href="forum.html" class="interesting-link">Our Forums</a>
            <a href="#" class="interesting-link">Why Choose Emerald Dragon?</a>
            -->
            <a href="#" class="button primary">{{ dictionary.word_register }}</a>
            <a href="#" class="button secondary">{{ dictionary.word_login }}</a>
          </div>

        </div>

  {% endif %}
{% endmacro %}
<!-- macro to mount the mobile header -->
{% macro header_moblie(login,dictionary)%}
  <div id="account-options-menu" class="side-menu right closed">
    <!-- SVG PLUS -->
    <svg class="svg-plus">
      <use xlink:href="#svg-plus"></use>
    </svg>
    <!-- /SVG PLUS -->
  {% if login == true %}
      <!-- SIDE MENU HEADER -->
      <div class="side-menu-header">
        <!-- USER QUICKVIEW -->
        <div class="user-quickview">
          <!-- USER AVATAR -->
          <a href="author-profile.html">
          <div class="outer-ring">
            <div class="inner-ring"></div>
            <figure class="user-avatar">
              <img src="../images/avatars/avatar_01.jpg" alt="avatar">
            </figure>
          </div>
          </a>
          <!-- /USER AVATAR -->

          <!-- USER INFORMATION -->
          <p class="user-name">Johnny Fisher</p>
          <p class="user-money">$745.00</p>
          <!-- /USER INFORMATION -->
        </div>
        <!-- /USER QUICKVIEW -->
      </div>
      <!-- /SIDE MENU HEADER -->

      <!-- SIDE MENU TITLE -->
      <p class="side-menu-title">Your Account</p>
      <!-- /SIDE MENU TITLE -->

      <!-- DROPDOWN -->
      <ul class="dropdown dark hover-effect">
        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-notifications.html">Notifications</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-inbox.html">Messages</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="cart.html">Your Cart</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="favourites.html">Favourites</a>
        </li>
        <!-- /DROPDOWN ITEM -->
      </ul>
      <!-- /DROPDOWN -->

      <!-- SIDE MENU TITLE -->
      <p class="side-menu-title">Dashboard</p>
      <!-- /SIDE MENU TITLE -->

      <!-- DROPDOWN -->
      <ul class="dropdown dark hover-effect">
        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="author-profile.html">Profile Page</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-settings.html">Account Settings</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-purchases.html">Your Purchases</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-statement.html">Sales Statement</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-buycredits.html">Buy Credits</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-withdrawals.html">Withdrawals</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-uploaditem.html">Upload Item</a>
        </li>
        <!-- /DROPDOWN ITEM -->

        <!-- DROPDOWN ITEM -->
        <li class="dropdown-item">
          <a href="dashboard-manageitems.html">Manage Items</a>
        </li>
        <!-- /DROPDOWN ITEM -->
      </ul>
      <!-- /DROPDOWN -->

      <a href="#" class="button medium secondary">Logout</a>
      <a href="#" class="button medium primary">Become a Seller</a>

  {% else %}
      <div class="side-menu-header">
      </div>
      <a href="#" class="button primary">{{ dictionary.word_register }}</a>
      <a href="#" class="button secondary">{{ dictionary.word_login }}</a>
  {% endif %}
  </div>
{% endmacro %}
<!-- macro to mount the main menu -->
{% macro menu_main(dictionary) %}
  <div class="main-menu-wrap">
  <div class="menu-bar">
    <nav>
      <ul class="main-menu">
        <!-- MENU ITEM -->
        <li class="menu-item">
          <a href="index">Home</a>
        </li>
        <!-- /MENU ITEM -->

        <!-- MENU ITEM -->
        <li class="menu-item">
          <a href="how-to-shop.html">How to shop</a>
        </li>
        <!-- /MENU ITEM -->

        <!-- MENU ITEM -->
        <li class="menu-item">
          <a href="products.html">{{ dictionary.word_app }}</a>
        </li>
        <!-- /MENU ITEM -->

        <!-- MENU ITEM -->
        <li class="menu-item">
          <a href="services.html">{{ dictionary.word_theme }}</a>
        </li>
        <!-- /MENU ITEM -->

        <!-- MENU ITEM -->
        <li class="menu-item">
          <a href="shop-gridview-v1.html">Online goods</a>
        </li>
        <!-- /MENU ITEM -->

        
      </ul>
    </nav>
    <form class="search-form">
      <input type="text" class="rounded" name="search" id="search_products" placeholder="Search products here...">
      <input type="image" src="../images/search-icon.png" alt="search-icon">
    </form>
  </div>
</div>
{% endmacro %}
<!-- macro to mount the mobile menu -->
{% macro menu_moblie(dictionary) %}
  <div id="mobile-menu" class="side-menu left closed">
  <!-- SVG PLUS -->
  <svg class="svg-plus">
    <use xlink:href="#svg-plus"></use>
  </svg>
  <!-- /SVG PLUS -->

  <!-- SIDE MENU HEADER -->
  <div class="side-menu-header">
    <figure class="logo small">
      <img src="../images/logo.png" alt="logo">
    </figure>
  </div>
  <!-- /SIDE MENU HEADER -->

  <!-- SIDE MENU TITLE -->
  <p class="side-menu-title">Main Links</p>
  <!-- /SIDE MENU TITLE -->

  <!-- DROPDOWN -->
  <ul class="dropdown dark hover-effect interactive">
    <!-- DROPDOWN ITEM -->
    <li class="dropdown-item">
      <a href="index">Home</a>
    </li>
    <!-- /DROPDOWN ITEM -->

    <!-- DROPDOWN ITEM -->
    <li class="dropdown-item">
      <a href="how-to-shop.html">How to Shop</a>
    </li>
    <!-- /DROPDOWN ITEM -->

    <!-- DROPDOWN ITEM -->
    <li class="dropdown-item">
      <a href="products.html">{{ dictionary.word_app }}</a>
    </li>
    <!-- /DROPDOWN ITEM -->

    <!-- DROPDOWN ITEM -->
    <li class="dropdown-item">
      <a href="services.html">{{  dictionary.word_theme }}</a>
    </li>
    <!-- /DROPDOWN ITEM -->

    <!-- DROPDOWN ITEM -->
    <li class="dropdown-item">
      <a href="shop-gridview-v1.html">Online Goods</a>
    </li>
    <!-- /DROPDOWN ITEM -->

    <!-- DROPDOWN ITEM -->
    <li class="dropdown-item interactive">
      <a href="#">
        Features
        <!-- SVG ARROW -->
        <svg class="svg-arrow">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /SVG ARROW -->
      </a>

      <!-- INNER DROPDOWN -->
      <ul class="inner-dropdown">
        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <p>Emerald Dragon</p>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="index">Homepage V1</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="home-v2.html">Homepage V2</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="itemview-versions.html">Item View Versions</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="shop-gridview-v1.html">Shop Grid View V1</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="shop-gridview-v2.html">Shop Grid View V2</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="shop-listview-v1.html">Shop List View V1</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="shop-listview-v2.html">Shop List View V2</a>
          <!-- PIN -->
          <span class="pin soft-edged primary">hot</span>
          <!-- /PIN -->
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="author-profile.html">Profile Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="blog-v1.html">Blog Page V1</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="blog-v2.html">Blog Page V2</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="open-post.html">Open Post</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="forum.html">Forum Board</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="subforum.html">Subforum</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="open-topic.html">Open Topic</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="login-register.html">Login and Register</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="menu-dropdowns.html">Menu and Dropdowns</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <p>Product Pages</p>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="item-v1.html">Item Page V1</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="item-v2.html">Item Page V2</a>
          <!-- PIN -->
          <span class="pin soft-edged secondary">new</span>
          <!-- /PIN -->
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="product-page.html">Product Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="auction-page.html">Auction Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="service-page.html">Service Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="favourites.html">Favourite Products Grid View</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="favourites-listview.html">Favourite Products List View</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="alerts-notifications.html">Alerts &amp; Notifications</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <p>Dashboard</p>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="dashboard-settings.html">Account Settings</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="dashboard-statistics.html">Statistics Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="dashboard-statement.html">Sales Statement</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="dashboard-inbox.html">Inbox Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="dashboard-openmessage.html">Open Message</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="dashboard-uploaditem.html">Upload Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <p>Gamification</p>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="community-badges.html">Author Badges Page</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="badges.html">All Badges (Big and Small)</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="flag-badges.html">Flag Badges (Big and Small)</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="badges-boxes.html">Badge Boxes Versions</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->

        <!-- INNER DROPDOWN ITEM -->
        <li class="inner-dropdown-item">
          <a href="author-badges.html">Public Author Badges</a>
        </li>
        <!-- /INNER DROPDOWN ITEM -->
      </ul>
      <!-- /INNER DROPDOWN -->
    </li>
    <!-- /DROPDOWN ITEM -->
  </ul>
  <!-- /DROPDOWN -->
</div>
{% endmacro %}

{% macro feature_menu() %}
{% endmacro %}
