{% macro up_file() %}
  <div class="input-container">
    <label class="rl-label required">Upload Main File</label>
    <!-- UPLOAD FILE -->
    <div class="upload-file">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Pack of Cartoon Illustrations.zip</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg1"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">46%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->
  </div>
{% endmacro %}

{% macro up_image() %}
  <div class="input-container">
    <label class="rl-label required">Upload Main Image</label>
    <!-- UPLOAD FILE -->
    <div class="upload-file">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Cartoon Illustrations.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg2"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">100%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->
  </div>
{% endmacro %}

{% macro up_screenshots() %}
  <div class="input-container">
    <label class="rl-label">Additional Screenshots </label>
    <!-- UPLOAD FILE -->
    <div class="upload-file">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Screenshot 01.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg3"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">68%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->

    <!-- UPLOAD FILE -->
    <div class="upload-file multiupload">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Screenshot 02.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg4"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">73%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->

    <!-- UPLOAD FILE -->
    <div class="upload-file multiupload">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Screenshot 03.jpeg</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg5"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">92%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->
  </div>
{% endmacro %}

{% macro select_category(all_category,id,num) %}
  <div class="input-container">
    <label id="cat-required" for="category" class="rl-label required">Select Category</label>
    <label for="category" class="select-block">
      {# not implemented
      <select name="category" id="category">
        <option value="0">Illustration</option>
        <option value="1">Photoshop</option>
        <option value="2">Vector</option>
      </select>
      #}
      <select name="category" id="category-{{id}}-{{num}}">
        {% for cate in all_category %}
          {% if loop.index0 > 0 %}
            <option value="{{cate.id}}">{{cate.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <!-- SVG ARROW -->
      <svg class="svg-arrow">
        <use xlink:href="#svg-arrow"></use>
      </svg>
      <!-- /SVG ARROW -->
    </label>
  </div>
{% endmacro %}

{% macro  plans(total_plans_app,dictionary) %}
  <hr class="line-separator">
  <div class="input-container">
    <h4> Plans </h4>
  </div>
  <hr class="line-separator">

  {% for i in 1.. total_plans_app %}
  {% if loop.index == 1 %}
  <div id="plan-{{i}}" style="display:block;" >
  {% else %}
  <div id="plan-{{i}}" style="display:none;" >
  {% endif %}

      <div class="input-container">
      </div>
      <div class="input-container">
        <h6> Plan {{i}} </h6>
      </div>
      <hr class="line-separator">
    <!-- /INPUT CONTAINER -->
    <div class="input-container">
      <label for="name_plan" class="rl-label">Name Plan</label>
      <input type="text" id="name_plan-{{i}}" name="name_plan" placeholder="Ex: Plan Basic">
    </div>
    <!-- /INPUT CONTAINER -->

    <!-- /INPUT CONTAINER -->
    <div class="input-container">
      <label for="item_value" class="rl-label">Value: {{dictionary.coin}}$</label>
      <input type="number" id="item_value-{{i}}" name="item_value"
      min="0" max="1000" step="any" placeholder="Ex: 10.00">
    </div>
    <!-- /INPUT CONTAINER -->

    <!-- /INPUT CONTAINER -->
    <div class="input-container">
      <label for="desc_plan" class="rl-label">Description Plan</label>
      <input type="text" id="desc_plan-{{i}}" name="desc_plan" placeholder="Ex: Is a plan">
    </div>
    <!-- /INPUT CONTAINER -->
    <!-- /INPUT CONTAINER -->
  </div>

  {% endfor %}

  <!-- INPUT CONTAINER -->
  <div class="input-container half">
    <button class="button mid dark" id="add-plan"> Add Plan </button>
  </div>
  <!-- /INPUT CONTAINER -->

    <!-- INPUT CONTAINER -->
    <div class="input-container half">
      <button class="button mid dark" id="rm-plan"> Remove Plan </button>
    </div>
    <!-- /INPUT CONTAINER -->
{% endmacro %}

{% macro faqs(total_faqs,dictionary ) %}
  <hr class="line-separator">
  <div class="input-container">
    <h4> FAQ's </h4>
  </div>
  <hr class="line-separator">

{% for i in 1.. total_faqs %}

<div id="faq-{{i}}" style="display:none;" >
  <div class="input-container">
  </div>
  <div class="input-container">
    <h6> FAQ {{i}} </h6>
  </div>
  <hr class="line-separator">
  <!-- /INPUT CONTAINER -->
  <div class="input-container">
    <label for="desc_plan" class="rl-label">Question</label>
    <input type="text" id="question-{{i}}" name="question" placeholder="Ex: ">
  </div>
  <!-- /INPUT CONTAINER -->
  <!-- /INPUT CONTAINER -->
  <div class="input-container">
    <label for="desc_plan" class="rl-label">Answer</label>
    <input type="text" id="answer-{{i}}" name="answer" placeholder="Ex: ">
  </div>
  <!-- /INPUT CONTAINER -->
</div>


{% endfor %}
<!-- INPUT CONTAINER -->
<div class="input-container half">
  <button class="button mid dark" id="add-faq"> Add FAQ </button>
</div>
<!-- /INPUT CONTAINER -->

<!-- INPUT CONTAINER -->
<div class="input-container half">
  <button class="button mid dark" id="rm-faq"> Remove FAQ </button>
</div>
<!-- /INPUT CONTAINER -->


{% endmacro %}

{% macro form_send() %}
  <form id="addons-uploaditem" action="scripts/uploaditem" method="post" enctype="multipart/form-data">
    <input type="hidden" id="uploaditem-is_app" name="is_app" />
    <input type="hidden" id="uploaditem-name_app" name="name" />
    <input type="hidden" id="uploaditem-category" name="categories_json" />
    <input type="hidden" id="uploaditem-item_numversion" name="numversion" />
    <input type="hidden" id="uploaditem-item_description" name="description" />
    <input type="hidden" id="uploaditem-item_scripturl" name="scripturl" />
    <input type="hidden" id="uploaditem-item_github" name="github" />
    <input type="hidden" id="uploaditem-item_website" name="website" />
    <input type="hidden" id="uploaditem-item_linkvideo" name="linkvideo" />
    <input type="hidden" id="uploaditem-item_linkdoc" name="linkdoc" />
    <input type="hidden" id="uploaditem-item_type_app" name="type_app" />
    <input type="hidden" id="uploaditem-item_module_app" name="module_app" />
    <input type="hidden" id="uploaditem-item_authetication" name="authentication" />
    <input type="hidden" id="uploaditem-plans" name="plans" />
    <input type="hidden" id="uploaditem-faqs" name="faqs" />
    <input type="hidden" id="uploaditem-n_temp" name="n_temp" />

    <div id="img0"><p> Selecione uma Imagem de Capa: <input id="img0" name="img0" type="file" /> </p></div>
    <div id="img1"><p> Selecione uma Imagem 1: <input id="img1" name="img1" type="file" /> </p></div>
    <div id="img2"><p> Selecione uma Imagem 2: <input id="img2" name="img2" type="file" /> </p></div>
    <div id="img3"><p> Selecione uma Imagem 3: <input id="img3" name="img3" type="file" /> </p></div>
    <div id="img4"><p> Selecione uma Imagem 4: <input id="img4" name="img4" type="file" /> </p></div>
    <div id="img5"><p> Selecione uma Imagem 5: <input id="img5" name="img5" type="file" /> </p></div>
    <div id="img6"><p> Selecione uma Imagem 6: <input id="img6" name="img6" type="file" /> </p></div>

    <div id="tem1" style="display:none;" ><p> Selecione uma ZIP: <input id="tem1" name="tem1" type="hidden" /> </p></div>
    <div id="tem2" style="display:none;" ><p> Selecione uma ZIP: <input id="tem2" name="tem2" type="hidden" /> </p></div>
    <div id="tem3" style="display:none;" ><p> Selecione uma ZIP: <input id="tem3" name="tem3" type="hidden" /> </p></div>

    <div class="input-container half" id ='button_template' style="display:none;">
      <button class="button mid dark" id="add-temp"> Add Templete </button>
    </div>
    <div class="input-container half" id ='button_template' style="display:none;">
      <button class="button mid dark" id="rm-temp"> Remove Templete </button>
    </div>


  </form>
{% endmacro %}
