
{% macro faqs(faqs) %}
  <div class="tab-content">
    <!-- ITEM-FAQ -->
    <div class="accordion item-faq primary">
      {% for f in faqs %}
      <!-- ACCORDION ITEM -->
      <div class="accordion-item">
        <h6 class="accordion-item-header">{{f.question}} ?</h6>
        <!-- SVG ARROW -->
        <svg class="svg-arrow">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /SVG ARROW -->
        <div class="accordion-item-content">
          <h4></h4>
          <p>{{f.answer}}. </p>
          <h4></h4>
          <p>.</p>
        </div>
      </div>
      <!-- /ACCORDION ITEM -->
      {% endfor %}
    </div>
    <!-- /ITEM-FAQ -->
  </div>
{% endmacro %}

{% macro author_bio() %}
  <div class="sidebar-item author-bio">
    <h4>Product Author</h4>
    <hr class="line-separator">
    <!-- USER AVATAR -->
    <a href="user-profile.html" class="user-avatar-wrap medium">
      <figure class="user-avatar medium">
        <img src="../images/avatars/avatar_09.jpg" alt="">
      </figure>
    </a>
    <!-- /USER AVATAR -->
    <p class="text-header">Odin_Design</p>
    <p class="text-oneline">Super Samurai Developers<br>Los Angeles, Usa</p>
    <!-- SHARE LINKS -->
    <ul class="share-links">
      <li><a href="#" class="fb"></a></li>
      <li><a href="#" class="twt"></a></li>
      <li><a href="#" class="db"></a></li>
    </ul>
    <!-- /SHARE LINKS -->
    <a href="#" class="button mid dark spaced">Go to <span class="primary">Profile Page</span></a>
    <a href="#" class="button mid dark-light">Send a Private Message</a>
  </div>
{% endmacro %}

{% macro product_info() %}
  <div class="sidebar-item product-info">
    <h4>Product Information</h4>
    <hr class="line-separator">
    <!-- INFORMATION LAYOUT -->
    <div class="information-layout">
      <!-- INFORMATION LAYOUT ITEM -->
      <div class="information-layout-item">
        <p class="text-header">Sales:</p>
        <p>22</p>
      </div>
      <!-- /INFORMATION LAYOUT ITEM -->

      <!-- INFORMATION LAYOUT ITEM -->
      <div class="information-layout-item">
        <p class="text-header">Upload Date:</p>
        <p>August 18th, 2015</p>
      </div>
      <!-- /INFORMATION LAYOUT ITEM -->

      <!-- INFORMATION LAYOUT ITEM -->
      <div class="information-layout-item">
        <p class="text-header">Files Included:</p>
        <p>PSD, AI<br>JPEG, PNG</p>
      </div>
      <!-- /INFORMATION LAYOUT ITEM -->

      <!-- INFORMATION LAYOUT ITEM -->
      <div class="information-layout-item">
        <p class="text-header">Requirements:</p>
        <p>CS6 or Lower</p>
      </div>
      <!-- /INFORMATION LAYOUT ITEM -->

      <!-- INFORMATION LAYOUT ITEM -->
      <div class="information-layout-item">
        <p class="text-header">Dimensions:</p>
        <p>4500x2800 Px</p>
      </div>
      <!-- /INFORMATION LAYOUT ITEM -->

      <!-- INFORMATION LAYOUT ITEM -->
      <div class="information-layout-item">
        <p class="tags primary"><a href="#">photoshop</a>, <a href="#">flat</a>, <a href="#">icon</a>, <a href="#">devices</a>, <a href="#">mobile</a>, <a href="#">vector</a>, <a href="#">coffee</a>, <a href="#">scene</a>, <a href="#">hero</a>, <a href="#">image</a>, <a href="#">maker</a>, <a href="#">set</a>, <a href="#">tablet</a>, <a href="#">laptop</a>, <a href="#">mockup</a></p>
      </div>
      <!-- /INFORMATION LAYOUT ITEM -->
    </div>
    <!-- INFORMATION LAYOUT -->
  </div>
{% endmacro %}

{% macro author_reputation() %}
  <div class="sidebar-item author-reputation full">
    <h4>Author's Reputation</h4>
    <hr class="line-separator">
    <!-- PIE CHART -->
    <div class="pie-chart pie-chart1">
      <p class="text-header percent">86<span>%</span></p>
      <p class="text-header percent-info">Recommended</p>
      <!-- RATING -->
      <ul class="rating">
        <li class="rating-item">
          <!-- SVG STAR -->
          <svg class="svg-star">
            <use xlink:href="#svg-star"></use>
          </svg>
          <!-- /SVG STAR -->
        </li>
        <li class="rating-item">
          <!-- SVG STAR -->
          <svg class="svg-star">
            <use xlink:href="#svg-star"></use>
          </svg>
          <!-- /SVG STAR -->
        </li>
        <li class="rating-item">
          <!-- SVG STAR -->
          <svg class="svg-star">
            <use xlink:href="#svg-star"></use>
          </svg>
          <!-- /SVG STAR -->
        </li>
        <li class="rating-item">
          <!-- SVG STAR -->
          <svg class="svg-star">
            <use xlink:href="#svg-star"></use>
          </svg>
          <!-- /SVG STAR -->
        </li>
        <li class="rating-item empty">
          <!-- SVG STAR -->
          <svg class="svg-star">
            <use xlink:href="#svg-star"></use>
          </svg>
          <!-- /SVG STAR -->
        </li>
      </ul>
      <!-- /RATING -->
    </div>
    <!-- /PIE CHART -->
    <a href="#" class="button mid dark-light">Read all the Customer Reviews</a>
  </div>
{% endmacro %}

{%macro author_outher_items() %}
  <div class="sidebar-item author-items">
    <h4>More Author's Items</h4>
    <!-- PRODUCT LIST -->
    <div class="product-list grid column4-wrap">
      <!-- PRODUCT ITEM -->
      <div class="product-item column">
        <!-- PIN -->
        <span class="pin featured">Featured</span>
        <!-- /PIN -->

        <!-- PRODUCT PREVIEW ACTIONS -->
        <div class="product-preview-actions">
          <!-- PRODUCT PREVIEW IMAGE -->
          <figure class="product-preview-image">
            <img src="../images/items/flat_m.jpg" alt="product-image">
          </figure>
          <!-- /PRODUCT PREVIEW IMAGE -->

          <!-- PREVIEW ACTIONS -->
          <div class="preview-actions">
            <!-- PREVIEW ACTION -->
            <div class="preview-action">
              <a href="item-v1.html">
                <div class="circle tiny primary">
                  <span class="icon-tag"></span>
                </div>
              </a>
              <a href="item-v1.html">
                <p>Go to Item</p>
              </a>
            </div>
            <!-- /PREVIEW ACTION -->

            <!-- PREVIEW ACTION -->
            <div class="preview-action">
              <a href="#">
                <div class="circle tiny secondary">
                  <span class="icon-heart"></span>
                </div>
              </a>
              <a href="#">
                <p>Favourites +</p>
              </a>
            </div>
            <!-- /PREVIEW ACTION -->
          </div>
          <!-- /PREVIEW ACTIONS -->
        </div>
        <!-- /PRODUCT PREVIEW ACTIONS -->

        <!-- PRODUCT INFO -->
        <div class="product-info">
          <a href="item-v1.html">
            <p class="text-header">Flatland - Hero Image Composer</p>
          </a>
          <p class="product-description">Lorem ipsum dolor sit urarde...</p>
          <a href="shop-gridview-v1.html">
            <p class="category primary">Hero Images</p>
          </a>
          <p class="price"><span>$</span>12</p>
        </div>
        <!-- /PRODUCT INFO -->
        <hr class="line-separator">

        <!-- USER RATING -->
        <div class="user-rating">
          <a href="author-profile.html">
            <figure class="user-avatar small">
              <img src="../images/avatars/avatar_09.jpg" alt="user-avatar">
            </figure>
          </a>
          <a href="author-profile.html">
            <p class="text-header tiny">Odin_Design</p>
          </a>
          <ul class="rating tooltip" title="Author's Reputation">
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
          </ul>
        </div>
        <!-- /USER RATING -->
      </div>
      <!-- /PRODUCT ITEM -->

      <!-- PRODUCT ITEM -->
      <div class="product-item column">
        <!-- PRODUCT PREVIEW ACTIONS -->
        <div class="product-preview-actions">
          <!-- PRODUCT PREVIEW IMAGE -->
          <figure class="product-preview-image">
            <img src="../images/items/pixel_m.jpg" alt="product-image">
          </figure>
          <!-- /PRODUCT PREVIEW IMAGE -->

          <!-- PREVIEW ACTIONS -->
          <div class="preview-actions">
            <!-- PREVIEW ACTION -->
            <div class="preview-action">
              <a href="item-v1.html">
                <div class="circle tiny primary">
                  <span class="icon-tag"></span>
                </div>
              </a>
              <a href="item-v1.html">
                <p>Go to Item</p>
              </a>
            </div>
            <!-- /PREVIEW ACTION -->

            <!-- PREVIEW ACTION -->
            <div class="preview-action">
              <a href="#">
                <div class="circle tiny secondary">
                  <span class="icon-heart"></span>
                </div>
              </a>
              <a href="#">
                <p>Favourites +</p>
              </a>
            </div>
            <!-- /PREVIEW ACTION -->
          </div>
          <!-- /PREVIEW ACTIONS -->
        </div>
        <!-- /PRODUCT PREVIEW ACTIONS -->

        <!-- PRODUCT INFO -->
        <div class="product-info">
          <a href="item-v1.html">
            <p class="text-header">Pixel Diamond Gaming Shop</p>
          </a>
          <p class="product-description">Lorem ipsum dolor sit urarde...</p>
          <a href="shop-gridview-v1.html">
            <p class="category primary">Shopify</p>
          </a>
          <p class="price"><span>$</span>86</p>
        </div>
        <!-- /PRODUCT INFO -->
        <hr class="line-separator">

        <!-- USER RATING -->
        <div class="user-rating">
          <a href="author-profile.html">
            <figure class="user-avatar small">
              <img src="../images/avatars/avatar_06.jpg" alt="user-avatar">
            </figure>
          </a>
          <a href="author-profile.html">
            <p class="text-header tiny">Sarah-Imaginarium</p>
          </a>
          <ul class="rating tooltip" title="Author's Reputation">
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
            <li class="rating-item empty">
              <!-- SVG STAR -->
              <svg class="svg-star">
                <use xlink:href="#svg-star"></use>
              </svg>
              <!-- /SVG STAR -->
            </li>
          </ul>
        </div>
        <!-- /USER RATING -->
      </div>
      <!-- /PRODUCT ITEM -->
    </div>
    <!-- /PRODUCT LIST -->
    <div class="clearfix"></div>
  </div>
{% endmacro %}


{% macro image_main(image_main,info_page)%}
  <div class="post-image">
    <figure class="product-preview-image large liquid">
      <!--img src="https://lh3.googleusercontent.com/wIcl3tehFmOUpq-Jl3hlVbZVFrLHePRtIDWV5lZwBVDr7kEAgLTChyvXUclMVQDRHDEcDhY=w640-h400-e365" alt=""-->
      <img src="{{image_main.path_img}}" alt="product-image">
    </figure>
    {% if info_page.app == 1 %}
    <!-- SLIDE CONTROLS -->
    <div class="slide-control-wrap">
      <div class="slide-control rounded left">
        <!-- SVG ARROW -->
        <svg class="svg-arrow">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /SVG ARROW -->
      </div>

      <div class="slide-control rounded right">
        <!-- SVG ARROW -->
        <svg class="svg-arrow">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /SVG ARROW -->
      </div>
    </div>
    <!-- /SLIDE CONTROLS -->
    {% endif %}
    <!--a href="#" class="button mid primary half">Go to Live Demo</a-->
  </div>
{% endmacro %}

{% macro outher_images_item(image_main,array_images) %}
  <div class="image-slides-wrap full">
    <!-- IMAGE SLIDES -->
    <div class="image-slides" data-slide-visible-full="8"
                  data-slide-visible-small="2"
                  data-slide-count="9">

      <!-- IMAGE SLIDE -->
      <div class="image-slide selected">
        <div class="overlay"></div>
        <figure class="product-preview-image thumbnail liquid">
          <!--img src="https://lh3.googleusercontent.com/wIcl3tehFmOUpq-Jl3hlVbZVFrLHePRtIDWV5lZwBVDr7kEAgLTChyvXUclMVQDRHDEcDhY=w640-h400-e365" alt=""-->
          <img src="{{image_main.path_img}}" alt="product-image">
        </figure>
      </div>
      <!-- /IMAGE SLIDE -->

      {% for image in array_images %}
      {% if loop.index0 > 0 %}
      <!-- IMAGE SLIDE -->
      <div class="image-slide">
        <div class="overlay"></div>
        <figure class="product-preview-image thumbnail liquid">
          <img src="{{image.path_img}}" alt="">
        </figure>
      </div>
      <!-- /IMAGE SLIDE -->
      {% endif %}
      {% endfor %}
    </div>
    <!-- IMAGE SLIDES -->
  </div>
{% endmacro %}

{% macro item_description(dictionary,app) %}
  <div class="post-paragraph">
    <h3 class="post-title">Title Description:</h3>
    <p>{{app}}.</p>

  </div>
{% endmacro %}

{% macro item_small_description() %}
  <div class="post-paragraph">
    <h3 class="post-title small">Westeros HTML Instructions</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
{% endmacro %}

{% macro list_unordered() %}
  <div class="post-paragraph half">
    <h3 class="post-title small">List Items (Unordered)</h3>
    <!-- POST ITEM LIST -->
    <ul class="post-item-list">
      <li>
        <!-- SVG CHECK -->
        <svg class="svg-check bullet-icon">
          <use xlink:href="#svg-check"></use>
        </svg>
        <!-- /SVG CHECK -->
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <!-- SVG CHECK -->
        <svg class="svg-check bullet-icon">
          <use xlink:href="#svg-check"></use>
        </svg>
        <!-- /SVG CHECK -->
        <p>Nostrud Exertation</p>
      </li>
      <li>
        <!-- SVG CHECK -->
        <svg class="svg-check bullet-icon">
          <use xlink:href="#svg-check"></use>
        </svg>
        <!-- /SVG CHECK -->
        <p>Laborum: Lorem ipsum dolor sit </p>
      </li>
      <li>
        <!-- SVG CHECK -->
        <svg class="svg-check bullet-icon">
          <use xlink:href="#svg-check"></use>
        </svg>
        <!-- /SVG CHECK -->
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <!-- SVG CHECK -->
        <svg class="svg-check bullet-icon">
          <use xlink:href="#svg-check"></use>
        </svg>
        <!-- /SVG CHECK -->
        <p>Nostrud Exertation</p>
      </li>
    </ul>
    <!-- POST ITEM LIST -->
  </div>
{% endmacro %}

{% macro list_ordered() %}
  <div class="post-paragraph half">
    <h3 class="post-title small">List Items (Ordered)</h3>
    <!-- POST ITEM LIST -->
    <ul class="post-item-list">
      <li>
        <p class="bullet-icon">1-</p>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <p class="bullet-icon">2-</p>
        <p>Nostrud Exertation</p>
      </li>
      <li>
        <p class="bullet-icon">3-</p>
        <p>Laborum: Lorem ipsum dolor sit </p>
      </li>
      <li>
        <p class="bullet-icon">4-</p>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <p class="bullet-icon">5-</p>
        <p>Nostrud Exertation</p>
      </li>
    </ul>
    <!-- POST ITEM LIST -->
  </div>
{% endmacro %}
