<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/vendor/tooltipster.css">
	<link rel="stylesheet" href="../css/vendor/jquery.range.css">
	<link rel="stylesheet" href="../css/style.css">

	<link rel="stylesheet" href="../css/vendor/magnific-popup.css">
	<!-- favicon -->
	<link rel="icon" href="https://e-com.club/mass/ftp/tutoriais/favicon.png">
	<title>{{dictionary.title}} | {{ dictionary.word_apps_store }}</title>
</head>
<body>
  {% import 'macros.twig' as macro_main %}
	{% import 'macro-app-theme-page.twig' as macro_app_theme %}
	<!-- HEADER -->
	<div class="header-wrap">
		<header>
			<!-- LOGO -->
			<a href="index">
				<figure class="logo">
					{{macro_main.logo_main(dictionary)}}
				</figure>
			</a>
			<!-- /LOGO -->

			<!-- MOBILE MENU HANDLER -->
			<div class="mobile-menu-handler left primary">
				<img src="../images/pull-icon.png" alt="pull-icon">
			</div>
			<!-- /MOBILE MENU HANDLER -->

			<!-- LOGO MOBILE -->
			<a href="index">
				<figure class="logo-mobile">
					{{ macro_main.logo_moblie() }}
				</figure>
			</a>
			<!-- /LOGO MOBILE -->

			<!-- MOBILE ACCOUNT OPTIONS HANDLER -->
			<div class="mobile-account-options-handler right secondary">
				<span class="icon-user"></span>
			</div>
			<!-- /MOBILE ACCOUNT OPTIONS HANDLER -->
		</div>
	<!-- /HEADER -->

	<!-- SECTION HEADLINE -->
	<div class="section-headline-wrap">
		<div class="section-headline">
			<!--h2>Create Password</h2-->
			<h2> Welcome {{user.name}} <h2>
		</div>
		<div class="section-headline">
			<h4>is the page for creating your password to
			register your items in our Marketplace.</h4>
		</div>
	</div>
	<!-- /SECTION HEADLINE -->

	<!-- SECTION -->
	<div class="section-wrap">
		<div class="section">
			<!-- SIDEBAR -->

			<div class="sidebar" id="addons-form-pass">

				<div class="input-container">
				</div>

				<h3 class="post-title">Register Password:</h3>
				<form id="addons-form-password">

					<div class="input-container">
					</div>
					<!-- INPUT CONTAINER -->
		      <div class="input-container">
		        <label class="rl-label"><span class="login-p">{{dictionary.word_login}}</span></label>
		        <input type="text" disabled value="{{user.username}}">
		      </div>
		      <!-- /INPUT CONTAINER -->

		      <!-- INPUT CONTAINER -->
		      <div class="input-container half">
		        <label for="new_pwd" class="rl-label required"><span class="pass-p">{{dictionary.word_new_password}}</span></label>
		        <input class="addons-pass" type="password" id="new_pwd" name="new_pwd" placeholder="{{dictionary.word_enter_pass}}">
		      </div>
		      <!-- /INPUT CONTAINER -->

		      <!-- INPUT CONTAINER -->
		      <div class="input-container half">
		        <label for="new_pwd2" class="rl-label required"><span class="rp-pass-p">{{dictionary.word_repeat_password}}</span></label>
		        <input class="addons-rp-pass" type="password" id="new_pwd2" name="new_pwd2" placeholder="{{dictionary.word_enter_repeat_pss}}">
		      </div>
		      <!-- /INPUT CONTAINER -->
					<!-- INPUT CONTAINER -->
				 <div class="input-container half">
					 <button class="button mid dark" id="bt-create-pass"> Create </button>
				 </div>
				 <!-- /INPUT CONTAINER -->
		    </form>
				<form id="addons-register" action="scripts/create-password" method="post">
	        <input type="hidden" id="addons-register-id" name="id" value="{{user.id}}" />
					<input type="hidden" id="addons-register-user" name="user" value="{{user.username}}"/>
	        <input type="hidden" id="addons-register-pass" name="pass" />
	      </form>

			</div>
		</div>
	</div>
	<!-- /SECTION -->

	<!-- FOOTER -->
	{{macro_main.footer(dictionary,info_footer)}}
	<!-- /FOOTER -->

	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG STAR -->
<svg style="display: none;">
	<symbol id="svg-star" viewBox="0 0 10 10" preserveAspectRatio="xMinYMin meet">
		<polygon points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751
	2.495,6.313 -0.002,3.878 3.45,3.376 "/>
	</symbol>
</svg>
<!-- /SVG STAR -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- jQuery -->
<script src="../js/vendor/jquery-3.1.0.min.js"></script>
<!-- JRange -->
<script src="../js/vendor/jquery.range.min.js"></script>
<!-- Tooltipster -->
<script src="../js/vendor/jquery.tooltipster.min.js"></script>
<!-- Tweet -->
<script src="../js/vendor/twitter/jquery.tweet.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- Tooltip -->
<script src="../js/tooltip.js"></script>
<!-- User Quickview Dropdown -->
<script src="../js/user-board.js"></script>
<!-- Shop -->
<script src="../js/shop.js"></script>
<!-- Footer -->
<script src="../js/footer.js"></script>

{{macro_main.scripts()}}

</body>
</html>
