<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/vendor/tooltipster.css">
	<link rel="stylesheet" href="../css/style.css">

  <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
	<!-- favicon -->
	<link rel="icon" href="https://e-com.club/mass/ftp/tutoriais/favicon.png">
	<title>{{dictionary.title}} | {{dictionary.word_profile_author}}</title>
</head>
<body>

	<!-- HEADER -->
  {% import 'macros.twig' as macro_main %}
  {% import 'macro-profile.twig' as macro_profile %}
  {{macro_main.all_header(login,dictionary,user,app_category,theme_category)}}
	<!-- /HEADER -->
  {{macro_profile.autor_header(dictionary,info_author)}}
	<!-- SECTION -->
	<div class="section-wrap">
		<div class="section overflowable">
			<!-- SIDEBAR -->
			<div class="sidebar left author-profile">
				<!-- SIDEBAR ITEM -->
				{{macro_profile.bio_author(dictionary,info_author)}}
				<!-- /SIDEBAR ITEM -->

				<!-- DROPDOWN -->
				{{macro_profile.profile_board(dictionary,info_author)}}
				<!-- /DROPDOWN -->

				<!-- SIDEBAR ITEM -->
				{# not implemented
				{{macro_profile.board_reputation(dictionary,info_author)}}
				#}
				<!-- /SIDEBAR ITEM -->
			</div>
			<!-- /SIDEBAR -->

			<!-- CONTENT -->
			<div class="content right">
				<!-- HEADLINE -->
				<div class="headline buttons primary">
					<h4>{{dictionary.word_lastes_items}}</h4>
					<a href="author-items-page?id={{info_author.id}}" class="button mid-short dark-light">{{dictionary.word_see_all_items}}</a>
				</div>
				<!-- /HEADLINE -->

				<!-- PRODUCT LIST -->
				<div class="product-list grid column3-4-wrap">
					<!-- PRODUCT ITEM -->
					{{macro_main.apps_themes(apps, 0, 3, dictionary)}}
					<!-- /PRODUCT ITEM -->
				</div>
				<!-- /PRODUCT LIST -->
				{# show Themes #}
				<div class="clearfix"></div>

				<div class="headline buttons secondary">
					<h4>{{dictionary.word_theme}}</h4>
				</div>
				<!-- /HEADLINE -->

				<!-- PRODUCT LIST -->
				<div class="product-list grid column3-4-wrap">
					<!-- PRODUCT ITEM -->
          {{macro_main.apps_themes(themes, 0, 3, dictionary)}}
					<!-- /PRODUCT ITEM -->
				</div>
				<!-- /PRODUCT LIST -->



				<div class="clearfix"></div>
				{# not implemented in moment obs: desable macro-profile too
				<!-- HEADLINE -->
				<div class="headline buttons primary">
					<h4>{{dictionary.word_lastes_message}}</h4>
					<a href="author-profile-messages.html" class="button mid-short dark-light">{{dictionary.word_see_all_message}}</a>
				</div>
				<!-- /HEADLINE -->

				<!-- COMMENTS -->

				<div class="comment-list">
          <!-- COMMENT -->
          {% for comment in comments  %}
          {{macro_profile.comments_user(dictionary,comment.name,comment.date,comment.comment,comment.is_buyer)}}
          {% endfor %}
          <!-- /COMMENTS -->
				</div>
				#}
				<!-- /COMMENTS -->
			</div>
			<!-- CONTENT -->



			<div class="clearfix"></div>
		</div>
	</div>
	<!-- /SECTION -->

	<!-- FOOTER -->
  {{macro_main.footer(dictionary,info_footer)}}
	<!-- /FOOTER -->

	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG STAR -->
<svg style="display: none;">
	<symbol id="svg-star" viewBox="0 0 10 10" preserveAspectRatio="xMinYMin meet">
		<polygon points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751
	2.495,6.313 -0.002,3.878 3.45,3.376 "/>
	</symbol>
</svg>
<!-- /SVG STAR -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- jQuery -->
<script src="../js/vendor/jquery-3.1.0.min.js"></script>
<!-- Tooltipster -->
<script src="../js/vendor/jquery.tooltipster.min.js"></script>
<!-- Tweet -->
<script src="../js/vendor/twitter/jquery.tweet.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- Tooltip -->
<script src="../js/tooltip.js"></script>
<!-- User Quickview Dropdown -->
<script src="../js/user-board.js"></script>
<!-- XM PieChart -->
<!--(erro implemented)script src="../js/vendor/jquery.xmpiechart.min.js"></script-->
<!-- Author Profile -->
<script src="../js/author-profile.js"></script>
<!-- Footer -->
<script src="../js/footer.js"></script>

{{macro_main.scripts()}}

</body>
</html>
