<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/vendor/tooltipster.css">
	<link rel="stylesheet" href="../css/vendor/owl.carousel.css">
	<link rel="stylesheet" href="../css/style.css">

	<link rel="stylesheet" href="../css/vendor/magnific-popup.css">
	<!-- favicon -->
	<link rel="icon" href="https://e-com.club/mass/ftp/tutoriais/favicon.png">
	<title>{{ dictionary.title }} | Home</title>

</head>
<body>
{% import 'macros.twig' as macro_main %}
<!-- header -->
	{{macro_main.all_header(login,dictionary,user,app_category,theme_category)}}
<!-- /header -->

<div class="section-headline-wrap">
  <div class="section-headline">
    <h2>Register Account</h2>
    <!--p>Home<span class="separator">/</span>Shop V1<span class="separator">/</span><span class="current-section">Illustration</span></p-->
  </div>
</div>

<!-- SECTION -->
<div class="section-wrap">
  <div class="section">
    <!-- SIDEBAR -->
    <div class="sidebar right">

    </div>
    <!-- /SIDEBAR -->
    <div class="form-box-items">
			<div class="form-box-item full">


				<h4>{{dictionary.word_profile_info}}</h4>
				<hr class="line-separator">
				<!-- PROFILE IMAGE UPLOAD -->
				<div class="profile-image">
					<div class="profile-image-data">
						<figure class="user-avatar medium">
							<img src="{{user.path_image}}" alt="profile-default-image">
						</figure>
						<p class="text-header">{{dictionary.word_profile_image}}</p>
						<!--(not implemented im momment)p class="upload-details">{{dictionary.word_minimun_size}} 70x70px</p-->
					</div>
					<!--a href="#" class="button mid-short dark-light">{{dictionary.word_upload_image}}</a-->
					<form id="addons-up-partner" action="scripts/up-partner" method="post" enctype="multipart/form-data">
						<input type="hidden" id="addons-up-id" name="id" />
						<input type="hidden" id="addons-up-user" name="user" />
						<input type="hidden" id="addons-up-name" name="name" />
						<input type="hidden" id="addons-up-pass" name="pass" />
						<input type="hidden" id="addons-up-rp-pass" name="rp-pass" />
						<input type="hidden" id="addons-up-website" name="website" />
						<input type="hidden" id="addons-up-about" name="about" />
						<input type="hidden" id="addons-up-occupation" name="occupation" />
						<input type="hidden" id="addons-up-city" name="city" />
						<input type="hidden" id="addons-up-country" name="country" />
						{# enter <input> to send image #}
					</form>

				</div>
				<!-- PROFILE IMAGE UPLOAD -->

				<form id="profile-info-form">
					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="acc_id" class="rl-label">ID:</label>
						<input disabled class="addons-up-id" type="text" value="{{user.id_user}}" >
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="acc_id" class="rl-label">Login:</label>
						<input disabled class="addons-up-user" type="text" value="{{user.name_login}}" >
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="acc_name" class="rl-label required"><span class="name">{{dictionary.word_account_name}}</span></label>
						<input class="addons-up-name" type="text" id="acc_name" name="acc_name" value="{{user.name}}" placeholder="{{dictionary.word_enter_name}}">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="new_pwd" class="rl-label"><span class="pass">{{dictionary.word_new_password}}</span></label>
						<input class="addons-up-pass" type="password" id="new_pwd" name="new_pwd" placeholder="{{dictionary.word_enter_pass}}">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="new_pwd2" class="rl-label"><span class="rp-pass">{{dictionary.word_repeat_password}}</span></label>
						<input class="addons-up-rp-pass" type="password" id="new_pwd2" name="new_pwd2" placeholder="{{dictionary.word_enter_repeat_pss}}">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="new_occupation" class="rl-label"><span class="pass">Occupation *translate*</span></label>
						<input class="addons-up-occupation" type="text" id="new_occupation" name="new_occupation" placeholder="........">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="new_city" class="rl-label"><span class="pass">City *translate*</span></label>
						<input class="addons-up-city" type="text" id="new_city" name="new_city" placeholder=".....">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="new_country" class="rl-label"><span class="pass">Country *translate*</span></label>
						<label class="select-block">
							<select name="new_country" id="new_country">
								<option value="Brasil">Brasil</option>
								<option value="USA">USA</option>
							</select>
						</label>
					</div>
					<!-- /INPUT CONTAINER -->


					<!-- INPUT CONTAINER -->
					<!--(desable )div class="input-container">
						<label for="new_email" class="rl-label">Email</label>
						<input class="addons-up-email" type="email" id="new_email" name="new_email" placeholder="{{dictionary.word_enter_email}}">
					</div-->
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="website_url" class="rl-label">Website</label>
						<input class="addons-up-website" type="text" id="website_url" name="website_url" placeholder="{{dictionary.word_enter_website}}">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<!--(not implemented)label for="country1" class="rl-label required">{{dictionary.word_country}}</label>
						<label for="country1" class="select-block">
							<select name="country1" id="country1" class="addons-up-country">
								<option value="0">{{dictionary.word_select_country}}</option>
								<option value="1">United States</option>
								<option value="2">Argentina</option>
								<option value="3">Brasil</option>
								<option value="4">Japan</option>
							</select-->
							<!-- SVG ARROW -->
							<!--svg class="svg-arrow">
								<use xlink:href="#svg-arrow"></use>
							</svg-->
							<!-- /SVG ARROW -->
						</label>
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="about" class="rl-label">{{dictionary.word_about_you}}</label>
						<input class="addons-up-about" type="text" id="about" name="about" placeholder="{{dictionary.word_describe_you}}">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					{# not implemented
					<div class="input-container">
						<label class="rl-label">Preferences</label>
						<!-- CHECKBOX -->
						<input type="checkbox" id="show_balance" name="show_balance" checked>
						<label for="show_balance" class="label-check">
							<span class="checkbox primary"><span></span></span>
							Show account balance in the status bar
						</label>
						<!-- /CHECKBOX -->

						<!-- CHECKBOX -->
						<input type="checkbox" id="email_notif" name="email_notif">
						<label for="email_notif" class="label-check">
							<span class="checkbox primary"><span></span></span>
							Send me email notifications
						</label>
						<!-- /CHECKBOX -->
					</div>
					#}
					<!-- /INPUT CONTAINER -->
				</form>
			</div>

			<div class="form-box-item spaced">
		    <h4>Social Media</h4>
		    <hr class="line-separator">

		    <!-- INPUT CONTAINER -->
		    <div class="input-container">
		      <ul class="share-links">
		        <li><a href="#" class="fb"></a></li>
		      </ul>
		      <input form="profile-info-form" type="text" id="social_fb_link" name="social_fb_link"
		           value="www.facebook.com/jhonnyfischershop" placeholder="Enter your social link here...">
		    </div>
		    <!-- /INPUT CONTAINER -->

		    <!-- INPUT CONTAINER -->
		    <div class="input-container">
		      <ul class="share-links">
		        <li><a href="#" class="twt"></a></li>
		      </ul>
		      <input form="profile-info-form" type="text" id="social_twt_link" name="social_twt_link"
		           placeholder="Enter your social link here...">
		    </div>
		    <!-- /INPUT CONTAINER -->

		    <!-- INPUT CONTAINER -->
		    <div class="input-container">
		      <ul class="share-links">
		        <li><a href="#" class="gplus"></a></li>
		      </ul>
		      <input form="profile-info-form" type="text" id="social_gplus_link" name="social_gplus_link"
		           placeholder="Enter your social link here...">
		    </div>
		    <!-- /INPUT CONTAINER -->

		    <!-- INPUT CONTAINER -->
		    <div class="input-container">
		      <ul class="share-links">
		        <li><a href="#" class="rss"></a></li>
		      </ul>
		      <input form="profile-info-form" type="text" id="social_rss_link" name="social_rss_link"
		           placeholder="Enter your social link here...">
		    </div>
		    <!-- /INPUT CONTAINER -->

		    <!-- INPUT CONTAINER -->
		    <div class="input-container">
		      <ul class="share-links">
		        <li><a href="#" class="db"></a></li>
		      </ul>
		      <input form="profile-info-form" type="text" id="social_db_link" name="social_db_link"
		           placeholder="Enter your social link here...">
		    </div>
		    <!-- /INPUT CONTAINER -->

		    <!-- INPUT CONTAINER -->
		    <div class="input-container">
		      <ul class="share-links">
		        <li><a href="#" class="be"></a></li>
		      </ul>
		      <input form="profile-info-form" type="text" id="social_be_link" name="social_be_link"
		           placeholder="Enter your social link here...">
		    </div>
		    <!-- /INPUT CONTAINER -->

		    <!-- INPUT CONTAINER -->
		    <div class="input-container">
		      <ul class="share-links">
		        <li><a href="#" class="de"></a></li>
		      </ul>
		      <input form="profile-info-form" type="text" id="social_de_link" name="social_de_link"
		           placeholder="Enter your social link here...">
		    </div>
		    <!-- /INPUT CONTAINER -->
		  </div>
		</div>

  </div>
</div>

<!-- /SECTION -->



<!-- footer -->
{{macro_main.footer(dictionary,info_footer)}}
<!-- /footer -->


	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG STAR -->
<svg style="display: none;">
	<symbol id="svg-star" viewBox="0 0 10 10" preserveAspectRatio="xMinYMin meet">
		<polygon points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751
	2.495,6.313 -0.002,3.878 3.45,3.376 "/>
	</symbol>
</svg>
<!-- /SVG STAR -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- jQuery -->
<script src="../../js/vendor/jquery-3.1.0.min.js"></script>
<!-- Tooltipster -->
<script src="../../js/vendor/jquery.tooltipster.min.js"></script>
<!-- Owl Carousel -->
<script src="../js/vendor/owl.carousel.min.js"></script>
<!-- Tweet -->
<script src="../js/vendor/twitter/jquery.tweet.min.js"></script>
<!-- xmAlerts -->
<script src="../js/vendor/jquery.xmalert.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- Home -->
<script src="../js/home.js"></script>
<!-- Tooltip -->
<script src="../js/tooltip.js"></script>
<!-- User Quickview Dropdown -->
<script src="../js/user-board.js"></script>
<!-- Home Alerts -->
<!-- <script src="../js/home-alerts.js"></script> -->
<!-- Footer -->
<script src="../js/footer.js"></script>

{{macro_main.scripts()}}

</body>
</html>
